:root {
    /* Primary */
    --Blue-500: hsl(215, 51%, 70%);
    --Cyan-400: hsl(178, 100%, 50%);
    --Cyan-400-transparent: hsl(178, 100%, 50%, 0.5);

    /* Neutral */
    --Blue-950: hsl(217, 54%, 11%);
    --Blue-900: hsl(216, 50%, 16%);
    --Blue-800: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%)
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--Blue-950);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--White);
}

a:hover {
    color: var(--Cyan-400);
}

article {
    background-color: var(--Blue-900);
    display: flex;
    flex-direction: column;
    width: 280px;
    border-radius: 0.875em; /* 14px */
    padding: 1.5em; /* 32px */
}

figure {
    display: inline-block;
    margin: 0 0 1.5em 0; /* 15px */
    padding: 0;
    position: relative;
    overflow: hidden;
    border-radius: 0.625em; /* 10px */
}

figure .main-image {
    display: block;
    height: auto;
    width: 100%;
}

figure a:hover .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Cyan-400-transparent);
}

figure .icon-view {
    display: none;
}

figure a:hover .icon-view {
    display: block;
}

h1 {
    color: var(--White);
    font-weight: 500;
    font-size: 1.438rem; /* 23px */
    margin: 0 0 0.652em 0; /* 15px */
}

p {
    font-size: 1.125rem; /* 18px */
    color: var(--Blue-500);
    font-weight: 300;
    margin: 0;
}

.nft-preview-card-body {
    border-bottom: 1px solid var(--Blue-800);
    margin: 0 0 0.938em 0; /* 15px */
    padding: 0 0 0.938em 0; /* 15px */
}

.nft-preview-card-body p {
    font-size: 1rem; /* 16px */
    margin: 0 0 0.938em 0; /* 15px */
    font-weight: 200;
    line-height: 1.5;
}

.offer-details-container {
    display: flex;
    justify-content: space-between;
}

.pricing-info-container {
    color: var(--Cyan-400);
    font-weight: 500;
}

.deadline-container, .pricing-info-container {
    display: flex;
    align-items: center;
    gap: 0.375em; /* 6px */
}

.deadline-container span {
    color: var(--Blue-500);
    font-weight: 300;
}

.nft-preview-card-footer {
    display: flex;
    justify-content: left;
    gap: 1em; /* 16px */
    align-items: center;
}

.nft-preview-card-footer p {
    font-size: 0.969rem; /* 15.5px */
}

.nft-preview-card-footer img {
    border: 1px solid var(--White);
    border-radius: 50%;
    width: 32px;
}