:root {
    /* Primary */
    --Blue-500: hsl(215, 51%, 70%);
    --Cyan-400: hsl(178, 100%, 50%);

    /* Neutral */
    --Blue-950: hsl(217, 54%, 11%);
    --Blue-900: hsl(216, 50%, 16%);
    --Blue-800: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%)
}

body {
    font-family: "Outfit", sans-serif;
    background-color: var(--Blue-950);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background-color: var(--Blue-900);
    display: flex;
    flex-direction: column;
    width: 325px;
    border-radius: 0.875em; /* 14px */
    padding: 1.5em; /* 32px */
}

figure {
    margin: 0;
    padding: 0;
}

figure img {
    width: 100%;
    border-radius: 0.625em; /* 10px */
}

h1 {
    color: var(--White);
    font-weight: 500;
    font-size: 1.563rem; /* 24px */
    margin: 0;
}

p {
    font-size: 1.125rem; /* 18px */
    color: var(--Blue-500);
}

.offer-details-container {
    display: flex;
    justify-content: space-between;
}

.pricing-info-container {
    color: var(--Cyan-400);
}

.nft-preview-card-body p {
    margin: 0;
    font-weight: 200;
}

.deadline-container span {
    color: var(--Blue-500);
}

.nft-preview-card-footer {
    display: flex;
    align-items: center;
}

.nft-preview-card-footer span {
    color: var(--White);
}

.nft-preview-card-footer img {
    border: 3px solid var(--White);
    border-radius: 50%;
}